<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          O Movimento Grafite e Hip Hop traz as cores e as vozes que ecoam pelas ruas e vielas de São Mateus contam histórias de luta 
                e superação, e reivindicam à esperança o anseio de dias melhores.  
                Por meio da arte, artistas dão voz à periferia e transformam o cinza da cidade.&nbsp;&nbsp;<br /><br />
                Em São Mateus, a selva de pedra se transforma em tela vibrante. Grafites explodem em cores e rimas, contando histórias 
                da comunidade, tecendo uma sinfonia urbana única. Nos muros e vielas, a voz das ruas ecoa. 
                Os artistas transformam o cinza em poesia, expressando sonhos, lutas e conquistas da periferia.&nbsp;&nbsp;<br /><br />
                O grafite e o hip hop dão voz aos que muitas vezes são silenciados. 
                Jovens, negros, mulheres e minorias encontram nesses movimentos um palco para suas expressões e reivindicações.
                O grafite e o hip hop são um hino à transformação. Uma força que colore a periferia, empodera seus habitantes e 
                ecoa por toda a cidade. São Mateus é um lar para a criatividade. Um lugar onde a arte urbana floresce, inspirando e 
                transformando a vida das pessoas.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/sao-mateus/grafite/grafite-1.png" /> <img class="img" src="assets/sao-mateus/grafite/grafite-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/voce-sabia-mooca']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/voce-sabia-origem']" />
</div>

