<div class="div">
  <div class="overlap-group">
    <div class="metas-contratuais">IEP</div>
    <div class="s-o-paulo">Índice de Experiência Positiva</div>
  </div>
  <img class="ativo" src="assets/grafismo-2.png" />
  <img class="seta" *ngIf="sentido == 'Maior'" src="assets/seta-cima.png" />
  <img class="seta" *ngIf="sentido == 'Menor'" src="assets/seta-baixo.png" />
  <div class="line line-1" style="display: block;">
    <ngx-charts-bar-vertical-2d
      [view]="[1800,500]"
      [results]="data"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [dataLabelFormatting]="formatDataLabel"
      [legend]="true"
      [noBarWhenZero]="false"
      [legendTitle]="''"
      [legendPosition]="legendPosition">
    </ngx-charts-bar-vertical-2d>
  </div>    
  <img class="img" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/processo-isc']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="group-4" src="assets/gif/ICONES_X.gif" [routerLink]="['/tela-botoes']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/processo-iec']" />
</div>


    


