 
  .div {
    background-color: #f9f9f9;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .superintendencia {
    position: absolute;
    width: 1010px;
    top: 56px;
    left: 78px;
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: rgba(18, 208, 255, 1);
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .centro {
    position: absolute;
    width: 1010px;
    top: 116px;
    left: 78px;
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: rgba(255, 198, 1, 1);
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overlap {
    position: absolute;
    width: 1808px;
    height: 568px;
    top: 266px;
    left: 95px;
  }
  
  .overlap-2 {
    position: absolute;
    width: 1808px;
    height: 568px;
    top: 0;
    left: 0;
  }
  
  .compreende-os-munic {
    position: absolute;
    width: 916px;
    top: 0;
    left: 0;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper {
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
  }
  
  .span {
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
  }
  
  .mask-group {
    position: absolute;
    width: 943px;
    height: 531px;
    top: 37px;
    left: 865px;
  }
  
  .div-wrapper {
    position: absolute;
    width: 210px;
    height: 278px;
    top: 271px;
    left: 1px;
    background-size: 100% 100%;
    background-image: url(../../../assets/group-39.png);
  }
  
  .text-wrapper-2 {
    position: absolute;
    width: 141px;
    top: 129px;
    left: 35px;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overlap-3 {
    position: absolute;
    width: 210px;
    height: 278px;
    top: 271px;
    left: 301px;
    background-size: 100% 100%;
    background-image: url(../../../assets/group-40.png);
  }
  
  .text-wrapper-3 {
    width: 136px;
    left: 38px;
    position: absolute;
    top: 129px;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overlap-4 {
    position: absolute;
    width: 210px;
    height: 273px;
    top: 271px;
    left: 601px;
    background-size: 100% 100%;
    background-image: url(../../../assets/group-38.png);
  }
  
  .text-wrapper-4 {
    width: 143px;
    left: 42px;
    position: absolute;
    top: 129px;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vector {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 1600px;
  }
  
  .img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 116px;
  }
  
  .group-2 {
    position: absolute;
    width: 119px;
    height: 125px;
    top: 48px;
    left: 1761px;
    cursor: pointer;
  }
  
  .frame {
    position: absolute;
    width: 1920px;
    height: 18px;
    top: 1062px;
    left: 0;
  }
  
  .group-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    cursor: pointer;
  }
  
  .vector-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 1750px;
  }
  