  
  .div {
    background-color: #f9f9f9;
    width: 1920px;
    height: 1080px;
    position: relative;
  }

  .absoluto {
    position: absolute;
  }

  .titulo {    
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perfil-superintend {
    top: 48px;
    left: 52px;
    color: rgba(18, 208, 255, 1);
  }
  
  .centro-oc {
    top: 75px;
    left: 52px;
    color: rgba(255, 198, 1, 1);    
  }
  
  .line {
    width: 461px;
    top: 541px;
    left: 345px;
  }
  
  .img {
    width: 204px;
    top: 318px;
    left: 616px;
  }
  
  .line-2 {
    width: 1px;
    top: 297px;
    left: 957px;
  }
  
  .line-3 {
    width: 143px;
    top: 393px;
    left: 1093px;
  }
  
  .line-4 {
    width: 566px;
    top: 496px;
    left: 1110px;
  }
  
  .line-5 {
    width: 433px;
    top: 644px;
    left: 1095px;
  }
  
  .line-6 {
    width: 237px;
    top: 644px;
    left: 951px;
  }
  
  .line-7 {
    width: 225px;
    top: 642px;
    left: 593px;
  }
  
  .ativo {
    width: 152px;
    top: 454px;
    left: 222px;
  }
  
  .ativo-2 {
    top: 759px;
    left: 1120px;
    width: 152px;
  }
  
  .ativo-3 {
    top: 242px;
    left: 519px;
    width: 152px;
  }
  
  .ativo-4 {
    top: 687px;
    left: 1439px;
    width: 152px;
  }
  
  .ativo-5 {
    top: 732px;
    left: 504px;
    width: 150px;
  }
  
  .ativo-6 {
    top: 433px;
    left: 1591px;
    width: 150px;
  }
  
  .ativo-7 {
    top: 218px;
    left: 874px;
    width: 150px;
  }
  
  .ativo-8 {
    width: 151px;
    top: 292px;
    left: 1164px;
  }

  .text-geral {
    text-align: center;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper {
    top: 273px;
    left: 893px;   
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-2 {
    top: 345px;
    left: 1190px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-3 {
    top: 488px;
    left: 1614px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-4 {
    top: 298px;
    left: 542px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-5 {
    top: 509px;
    left: 243px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-6 {
    top: 789px;
    left: 525px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-8 {
    top: 812px;
    left: 1147px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-9 {
    top: 745px;
    left: 1465px;
    color: #ffffff; 
    font-size: 26px;
  }
  
  .text-wrapper-10 {
    top: 398px;
    left: 246px;
    width: 100px;
    color: #000000; 
    font-size: 18px;
  }
  
  .text-wrapper-11 {
    top: 230px;
    left: 1160px;
    width: 200px;
    color: #000000; 
    font-size: 18px;
  }
  
  .text-wrapper-12 {
    top: 399px;
    left: 1589px;
    color: #000000; 
    font-size: 18px;
  }
  
  .text-wrapper-13 {
    top: 160px;
    width: 160px;
    left: 870px;
    color: #000000; 
    font-size: 18px;
  }
  
  .ellipse-wrapper {
    width: 397px;
    height: 396px;
    top: 412px;
    left: 745px;
    background-size: 100% 100%;
  }
  
  .text-wrapper-14 {
    top: 180px;
    left: 542px;
    width: 110px;
    color: #000000; 
    font-size: 18px;
  }
  
  .text-wrapper-15 {
    top: 848px;
    left: 1450px;
    width: 138px;
    color: #000000; 
    font-size: 18px;
  }
  
  .text-wrapper-16 {
    width: 111px;
    top: 891px;
    left: 519px;
    color: #000000; 
    font-size: 18px;
  }
  
  .group-2 {
    width: 119px;
    height: 125px;
    top: 48px;
    left: 1761px;
  }
  
  .text-wrapper-17 {
    top: 924px;
    left: 1130px;
    width: 138px;
    color: #000000; 
    font-size: 18px;
  }

  .botao {
    width: 150px;
    height: 150px;
  }
  
  .vector {    
    top: 920px;
    left: 1600px;
  }
  
  .group-3 {
    top: 920px;
    left: 116px;
  }
  
  .vector-2 {
    top: 920px;
    left: 1750px;
  }
  
  .group-4 {
    top: 920px;
  }
  