<div class="div">
  <div class="overlap-group">
    <div class="overlap-group">
      <img class="image" src="assets/gif/Element_05.gif" />
      <img class="vector" src="assets/linha-inferior.png" />
      <img class="img" src="assets/linha-inferior-meio.png" />
      <div class="frame" [routerLink]="['/indicadores-processo']"><div class="text-wrapper">Indicadores de Processos</div></div>
      <div class="div-wrapper"  [routerLink]="['/indicadores-contratuais']"><div class="text-wrapper">Metas Contratuais</div></div>
    </div>
    <img class="vector-2" src="assets/linha-superior-meio.png" />
    <div class="overlap">
      <img class="vector-3" src="assets/linha-superior.png" />
      <div class="perfil-OC-wrapper" [routerLink]="['/super-centro']"><div class="text-wrapper">Perfil Oc</div></div>
    </div>
    <div class="frame-2" [routerLink]="['/mapa']"><div class="text-wrapper">Perfil Polos</div></div>
  </div>
  <img class="vector-4" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/perfil-centro']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="vector-5" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/super-centro']" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="grafismo" src="assets/ativo-4.png" />
  <img class="frame-4" src="assets/linha-colorida.png" />
</div>

