<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          A imensa e urbana São Mateus encontra refúgio para recarregar as energias no Parque Nebulosas que abriga árvores centenárias, 
                e oferece lindas paisagens como cenário para encontros de lazer, prática de esportes e manifestações artísticas.&nbsp;&nbsp;<br /><br />
                Vamos dar um pulo na 25?”. 
                Em meio à vastidão urbana de São Mateus, surge um oásis verde, o Parque Nebulosas. 
                Um refúgio para os amantes da natureza, um palco para a cultura e o lazer, um espaço de paz e contemplação para toda a família.&nbsp;&nbsp;<br /><br />
                Árvores centenárias, como jatobás e figueiras, oferecem sombra e proteção. O lago, um espelho d'água que reflete o céu, 
                convida à contemplação. Os jardins floridos, um espetáculo de cores e aromas, embelezam o parque e atraem borboletas e beija-flores.
                Há espaço para todos. Famílias desfrutam de piqueniques nos gramados, enquanto crianças brincam livremente nos playgrounds. 
                Amantes do esporte se exercitam nas pistas de corrida e ciclismo. Artistas de rua expressam seus talentos, criando uma atmosfera vibrante.
                Mais do que um parque, o Nebulosas é um símbolo da esperança e da transformação. 
                Um legado para as gerações futuras, um espaço que deve ser preservado e valorizado.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/sao-mateus/parquinho/parquinho-1.png" /> <img class="img" src="assets/sao-mateus/parquinho/parquinho-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/voce-sabia-origem']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/voce-sabia-industrial']" />
</div>
