<div class="div">
  <div class="overlap-group">
    <div class="metas-contratuais">IEC</div>
    <div class="s-o-paulo">Índice de Economias Encaminhadas para Tratamento</div>
  </div>
  <img class="ativo" src="assets/grafismo-2.png" />
  <div class="line line-1" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="janeiro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Janeiro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-2" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="fevereiro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Fevereiro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-3" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="marco"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Março'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-4" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="abril"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Abril'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-5" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="maio"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Maio'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-6" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="junho"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Junho'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-7" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="julho"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Julho'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-8" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="agosto"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Agosto'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-9" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="setembro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Setembro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-10" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="outubro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Outubro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-11" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="novembro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Novembro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <div class="line line-12" style="display: block;">
    <ngx-charts-bar-vertical
      [view]="[170,500]"
      [results]="dezembro"
      [showDataLabel]="true"
      [xAxis]="true"
      [customColors]="customColors"
      [showGridLines]="false"
      [roundEdges]="false"
      [xAxisLabel]="'Dezembro'"
      [showXAxisLabel]="true"
      [dataLabelFormatting]="formatDataLabel">
    </ngx-charts-bar-vertical>
  </div>  
  <img class="img" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/capa-sp']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/capa-sa']" />
</div>


    


