<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="polo">Centro</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          A OC foi berço do saneamento em São Paulo se iniciando com a criação em 1877 da “Companhia Cantareira de Água e Esgoto”, 
          que mais tarde integraria a Sabesp, 
          e a construção do reservatório da Consolação em 1878.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/sabia-oc.png" /> <img class="img" src="assets/sabia-oc-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/inicio']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/inicio']" />
</div>
