<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          Duas forças imponentes dividem o cenário na baixada santista: a vasta natureza e o Polo Industrial Petroquímico. 
                O equilíbrio da coexistência é conquistado por meio de ações sustentáveis que visam o bem do planeta e o  
                desenvolvimento da sociedade.&nbsp;&nbsp;<br /><br />
                Onde a vastidão verde da baixada santista se encontra com a imponência das chaminés, surge o Polo Petroquímico do ABC. 
                Uma sinfonia industrial, onde o ritmo frenético das máquinas se harmoniza com a beleza natural da região.&nbsp;&nbsp;<br /><br />
                Local de tecnologia: torres e tanques imponentes se erguem como guardiões da inovação. A tecnologia de ponta, aliada à expertise 
                de profissionais qualificados, transforma o petróleo em produtos que contribuem para o desenvolvimento da sociedade.&nbsp;&nbsp;<br /><br />
                É um palco para o desenvolvimento sustentável: a busca incessante por soluções inovadoras e sustentáveis guia o polo. 
                A indústria se reinventa, buscando minimizar o impacto ambiental e maximizar a eficiência energética, em sintonia com a natureza.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/tamanduatei/industrial/industrial-1.png" /> <img class="img" src="assets/tamanduatei/industrial/industrial-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" />
  <div class="img-wrapper"></div>
</div>

