  
  .div {
    background-color: #f9f9f9;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .overlap {
    position: absolute;
    width: 1844px;
    height: 889px;
    top: 0;
    left: 0;
  }
  
  .overlap-group {
    position: absolute;
    width: 845px;
    height: 829px;
    top: 0;
    left: 0;
  }  
  
  .voc {
    position: absolute;
    width: 352px;
    top: 290px;
    left: 254px;
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: rgba(18, 208, 255, 1);
    font-size: 120px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sabia {
    position: absolute;
    width: 435px;
    top: 373px;
    left: 254px;
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: rgba(255, 198, 1, 1);
    font-size: 120px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .a-atual-identidade {    
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .ativo {
    position: absolute;
    width: 325px;
    height: 416px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .overlap-2 {
    position: absolute;
    width: 1032px;
    height: 889px;
    top: 0;
    left: 812px;
  }
  
  .mask-group {
    position: absolute;
    width: 654px;
    height: 889px;
    top: 0;
    left: 378px;
  }
  
  .img {
    position: absolute;
    width: 378px;
    height: 375px;
    top: 0;
    left: 0;
  }
  
  .rectangle-wrapper {
    position: absolute;
    width: 18px;
    height: 307px;
    top: 536px;
    left: 878px;
    background-color: #ececec;
  }
  
  .rectangle {
    height: 104px;
    background-color: #d9d9d9;
  }
  
  .vector {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 1600px;
    cursor: pointer;
  }
  
  .group-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 116px;
    cursor: pointer;
  }
  
  .frame {
    position: absolute;
    width: 1920px;
    height: 18px;
    top: 1062px;
    left: 0;
  }
  
  .group-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    cursor: pointer;
  }
  
  .vector-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 1750px;
    cursor: pointer;
  }

  .paragrafo-com-scroll {
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Isso permite a rolagem vertical quando o conteúdo excede a altura máxima */
    position: absolute;
    width: 591px;
    top: 537px;
    left: 254px;
  }
  