<div class="div">
    <div class="overlap-2">
        <img class="grafismo" src="assets/gif/Element_01.gif" /> 
        <img class="mask-group" src="assets/bandeira.png" />
    </div>
    <img class="ativo" src="assets/grafismo-capa.png" />
    <img class="vector" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/metas-sp']" />
    <img class="img" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/indicadores-contratuais']" />
    <div class="sao">SÃO</div>
    <div class="paulo">PAULO</div>
    <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
    <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
</div>
