<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="polo">Mooca</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          O Juventus da Mooca é sinônimo de tradição e paixão para a sua torcida, e é um importante pólo esportivo e social da região. 
                O Clube, fundado por colonos italianos, carrega a história e a cultura da Mooca “meô”!&nbsp;&nbsp;<br /><br />
                O Clube Atlético Juventus, popularmente conhecido como Juventus da Mooca, é um clube com sede no bairro da Mooca, na zona leste da cidade de São Paulo. 
                Fundado em 20 de abril de 1924 por membros da colônia italiana da região, o Juventus ostenta as cores verde e grená, em homenagem à bandeira da Itália.&nbsp;&nbsp;<br /><br />
                O clube tem um papel importante na comunidade da Mooca, oferecendo atividades esportivas e sociais para crianças, jovens e adultos. 
                O clube também promove a inclusão social e a formação de cidadãos.&nbsp;&nbsp;<br /><br />
                Por fim, o Juventus é um clube de tradição e paixão, que representa a história e a cultura da Mooca, sendo um importante pólo esportivo 
                e social na região, e sua torcida apaixonada é um dos seus maiores patrimônios.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/mooca/mooca-1.png" /> <img class="img" src="assets/mooca/mooca-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/voce-sabia-museu']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/voce-sabia-grafite']" />
</div>

