  
  .div {
    background-color: #f9f9f9;
    width: 1920px;
    height: 1080px;
    position: relative;
  }

  .absoluto {
    position: absolute;
  }

  .titulo {    
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .perfil-superintend {
    top: 48px;
    left: 52px;
    color: rgba(18, 208, 255, 1);
  }
  
  .centro-oc {
    top: 80px;
    left: 52px;
    color: rgba(255, 198, 1, 1);    
  }
  
  .line {
    width: 461px;
    top: 541px;
    left: 345px;
  }
  
  .img {
    width: 204px;
    top: 318px;
    left: 616px;
  }
  
  .line-2 {
    width: 1px;
    top: 297px;
    left: 957px;
  }
  
  .line-3 {
    width: 143px;
    top: 393px;
    left: 1093px;
  }
  
  .line-4 {
    width: 566px;
    top: 496px;
    left: 1110px;
  }
  
  .line-5 {
    width: 433px;
    top: 644px;
    left: 1095px;
  }
  
  .line-6 {
    width: 237px;
    top: 644px;
    left: 951px;
  }
  
  .line-7 {
    width: 225px;
    top: 642px;
    left: 593px;
  }
  
  .ativo {
    width: 180px;
    top: 454px;
    left: 165px;
  }
  
  .ativo-2 {
    top: 670px;
    left: 1180px;
    width: 180px;
  }
  
  .ativo-3 {
    top: 205px;
    left: 430px;
    width: 180px;
  }
  
  .ativo-4 {
    top: 600px;
    left: 1525px;
    width: 180px;
  }
  
  .ativo-5 {
    top: 650px;
    left: 430px;
    width: 180px;
  }
  
  .ativo-6 {
    top: 410px;
    left: 1670px;
    width: 180px;
  }
  
  .ativo-7 {
    top: 135px;
    left: 870px;
    width: 180px;
  }
  
  .ativo-8 {
    width: 180px;
    top: 280px;
    left: 1230px;
  }

  .text-geral {
    text-align: center;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .text-wrapper {
    top: 195px;
    left: 875px; 
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-2 {
    top: 340px;
    left: 1235px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-3 {
    top: 470px;
    left: 1675px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-4 {
    top: 275px;
    left: 435px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-5 {
    top: 515px;
    left: 170px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-6 {
    top: 715px;
    left: 435px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-8 {
    top: 730px;
    left: 1180px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-9 {
    top: 660px;
    left: 1530px;
    color: #ffffff;
    font-size: 34px;
    width: 170px;
  }
  
  .text-wrapper-10 {
    top: 380px;
    left: 185px;
    width: 140px;
    color: #000000;
    font-size: 24px;
  }
  
  .text-wrapper-11 {
    top: 210px;
    left: 1180px;
    width: 270px;
    color: #000000;
    font-size: 24px;
  }
  
  .text-wrapper-12 {
    top: 375px;
    left: 1640px;
    color: #000000;
    font-size: 24px;
  }
  
  .text-wrapper-13 {
    top: 65px;
    width: 160px;
    left: 880px;
    color: #000000;
    font-size: 24px;
  }
  
  .ellipse-wrapper {
    width: 390px;
    height: 390px;
    top: 350px;
    left: 745px;
    background-size: 100% 100%;
  }
  
  .text-wrapper-14 {
    top: 130px;
    left: 450px;
    width: 160px;
    color: #000000;
    font-size: 24px;
  }
  
  .text-wrapper-15 {
    top: 770px;
    left: 1520px;
    width: 180px;
    color: #000000;
    font-size: 24px;
  }
  
  .text-wrapper-16 {
    width: 140px;
    top: 825px;
    left: 450px;
    color: #000000;
    font-size: 24px;
  }
  
  .group-2 {
    width: 119px;
    height: 125px;
    top: 920px;
    left: 900px;
    cursor: pointer;
  }
  
  .text-wrapper-17 {
    top: 840px;
    left: 1165px;
    width: 200px;
    color: #000000; 
    font-size: 24px;
  }

  .botao {
    width: 150px;
    height: 150px;
  }
  
  .vector {    
    top: 920px;
    left: 1050px;
    cursor: pointer;
  }
  
  .group-3 {
    top: 920px;
    left: 750px;
    cursor: pointer;
  }
  
  .vector-2 {
    top: 920px;
    left: 1200px;
    cursor: pointer;
  }
  
  .group-4 {
    top: 920px;
    left: 600px;
    cursor: pointer;
  }

  .frame-4 {
    position: absolute;
    width: 1920px;
    height: 18px;
    top: 1062px;
    left: 0;
  }
  