<div class="div">
  <div class="titulo absoluto perfil-superintend">POLO</div>
  <div class="titulo absoluto centro-oc">IPIRANGA</div>
  <img class="absoluto line" src="assets/linha-perfil-1.png" />
  <img class="absoluto img" src="assets/linha-perfil-5.png" />
  <img class="absoluto line-2" src="assets/linha-perfil-10.png" />
  <img class="absoluto line-3" src="assets/linha-perfil-6.png" />
  <img class="absoluto line-4" src="assets/linha-perfil-7.png" />
  <img class="absoluto line-5" src="assets/linha-perfil-9.png" /> 
  <img class="absoluto line-6" src="assets/linha-perfil-8.png" />
  <img class="absoluto line-7" src="assets/linha-perfil-3.png" />
  <img class="absoluto ativo" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-2" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-3" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-4" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-5" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-6" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-7" src="assets/bolinha-azul.png" />
  <img class="absoluto ativo-8" src="assets/bolinha-azul.png" />
  <div class="text-geral absoluto text-wrapper">{{ excelData[0]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-2">{{ excelData[1]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-3">{{ excelData[2]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-4">{{ excelData[7]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-5">{{ excelData[6]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-6">{{ excelData[5]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-8">{{ excelData[4]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-9">{{ excelData[3]["Perfil Polo de manutenção Ipiranga"] }}</div>
  <div class="text-geral absoluto text-wrapper-10">Economias de Água</div>
  <div class="text-geral absoluto text-wrapper-11">Faturamento Médio Anual (líquido)</div>
  <div class="text-geral absoluto text-wrapper-12">Total de Ligações</div>
  <div class="text-geral absoluto text-wrapper-13">População Atendida</div>
  <img class="absoluto ellipse-wrapper" src="assets/gif/Element_05.gif" />
  <div class="text-geral absoluto text-wrapper-14">Economias de Esgoto</div>
  <div class="text-geral absoluto text-wrapper-15">Ligações de Água</div>
  <div class="text-geral absoluto text-wrapper-16">Total de Economias</div>
  <img class="absoluto group-2" src="assets/vc-sabia.png" [routerLink]="['/voce-sabia-25-marco']" />
  <div class="text-geral absoluto text-wrapper-17">Ligações de Esgoto</div>
  <img class="botao absoluto vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/perfil-polo-jardins']" />
  <img class="botao absoluto group-3" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="botao absoluto vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/perfil-polo-mooca']" />
  <img class="botao absoluto group-4" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
</div>
