<div class="div">
  <div class="overlap">
    <div class="overlap-group">
      <div class="voc">VOCÊ</div>
      <div class="sabia">SABIA?</div>
      <div class="paragrafo-com-scroll">
        <p class="a-atual-identidade">
          Casa do Palmeiras, e palco dos maiores shows e eventos que acontecem na cidade de São Paulo, 
                o Allianz Parque é um gigante que abriga a história e a  tradição do Clube, e faz um elo com a comunidade 
                local por meio das atrações que oferece, e da sua privilegiada localização.&nbsp;&nbsp;<br /><br />
                Vamos dar um pulo na 25?”. 
                O que foi construído no lugar do antigo Estádio Palestra Itália vai além de ser a casa da Sociedade Esportiva Palmeiras.
                É palco de grandes eventos, shows e espetáculos, um ponto de encontro para a comunidade, um centro pulsante de cultura
                e entretenimento.&nbsp;&nbsp;<br /><br />
                É também é o símbolo da grandeza do Palmeiras, uma obra monumental que perpetuará a história do clube para as próximas gerações.
                Mas, sua localização privilegiada, com fácil acesso por carro, trem, metrô, ônibus traz mais possibilidades: 
                além do clube social que circunda o estádio, é possível para não-sócios realizarem eventos corporativos, festas, 
                frequentar os restaurantes e utilizar o espaço de coworking.&nbsp;&nbsp;<br /><br />
                A tecnologia de ponta se integra à tradição, criando uma experiência única para os frequentadores. 
                O Allianz Parque é referência em conforto, segurança e acessibilidade, elevando o futebol e as outras atividades a outro patamar.
        </p>
      </div>
      <img class="ativo" src="assets/grafismo.png" />
    </div>
    <div class="overlap-2">
      <img class="mask-group" src="assets/jardins/allianz/allianz-1.png" /> <img class="img" src="assets/jardins/allianz/allianz-2.png" />
    </div>
  </div>
  <img class="vector" src="assets/gif/ICONES_seta-esq.gif" [routerLink]="['/perfil-polo-tamanduatei']" />
  <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
  <img class="frame" src="assets/linha-colorida.png" />
  <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
  <img class="vector-2" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/voce-sabia-ibirapuera']" />
</div>

