<div class="tela-de-descanso-x">
    <div class="div">
        <div class="overlap">
            <img class="ativo" src="img/ativo-2.png" /> <img class="mask-group" src="../../../assets/mask-group.gif" />
        </div>
        <div class="overlap-group">
            <img class="img" src="../../../assets/ativo-3.png" />
            <div class="superintend-ncia">SUPERINTENDÊNCIA CENTRO</div>
        </div>
        <img class="group" src="img/group-42.png" />
        <div class="vector-wrapper">
            <video class="vector" loop>
                <source src="../../../assets/seta_dir.mov" type="video/mp4">
                Seu navegador não suporta vídeo em HTML5.
            </video>
            <img class="vector" src="img/vector.svg" />
        </div>
    </div>
</div>

