  .div {
    background-color: #f9f9f9;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .ativo {
    width: 550px;
    height: 450px;
    top: 485px;
    left: 1300px;
    position: absolute;
    object-fit: cover;
  }
  
  .mask-group {
    position: absolute;
    width: 469px;
    height: 712px;
    top: 100px;
    left: 1250px;
  }
  
  .img {
    width: 960px;
    height: 572px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .superintendencia {
    position: absolute;
    width: 938px;
    top: 451px;
    left: 140px;
    mix-blend-mode: multiply;
    font-family: "Satoshi-Black", Helvetica;
    font-weight: 900;
    color: rgba(18, 208, 255, 1);
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .group {
    width: 150px;
    position: absolute;
    height: 150px;
    top: 920px;
    cursor: pointer;
  }
  
  .vector {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 920px;
    left: 1750px;
    cursor: pointer;
  }
  