<div class="div">
    <img class="ativo" src="assets/gif/Element_05.gif" /> 
    <img class="mask-group" src="assets/mask-group.gif" />
    <img class="img" src="assets/ativo-3.png" />
    <div class="superintendencia">SUPERINTENDÊNCIA CENTRO</div>
    <img class="group" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
    <img class="vector" src="assets/gif/ICONES_seta-dir.gif" [routerLink]="['/super-centro']" />
    <img class="frame-4" src="assets/linha-colorida.png" />
</div>
    


