<div class="overlap-wrapper">
    <img class="ativo" src="assets/gif/Element_05.gif" />
    <div class="indicadores">INDICADORES</div>
    <div class="metas-contratuais">METAS CONTRATUAIS</div>
    <img class="november" src="assets/celular.png" />
    <img class="vector" src="assets/gif/ICONES_seta-esq.gif" />
    <img class="img" src="assets/gif/ICONES_seta-dir.gif" />
    <img class="slice" src="img/slice-1.svg" />
    <img class="group-2" src="assets/gif/ICONES_X.gif" [routerLink]="['/inicio']" />
    <img class="group-3" src="assets/gif/ICONES_casa.gif" [routerLink]="['/menu']" />
    <img class="frame" src="assets/botao-sp.png" />
    <img class="frame-2" src="assets/botao-sa.png" />
    <img class="frame-3" src="assets/botao-m.png" />
</div>

    


